@mixin dc {
    display: flex;
    align-items: center;
}

@mixin dcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin W($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin H($breakpoint) {
    @media only screen and (max-height: $breakpoint) {
        @content;
    }
}

@mixin W_H($w, $h) {
    @media only screen and (max-width: $w) and (max-height: $h) {
        @content;
    }
}
