#search {
    h1,
    p {
        text-align: center;

        &.no-results {
            color: hsl(var(--muted-foreground));
            margin-top: 24px;
        }
    }

    .searchbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        width: 100%;
        margin: 24px 0;

        > div {
            display: flex;
            align-items: center;
            gap: 12px;
            width: 100%;
        }

        p.error {
            color: red;
        }
    }

    .search-wrapper {
        padding-top: 24px;
    }

    .metadata {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .overview {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            img {
                height: 200px;
                border-radius: 8px;
            }

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3px;

                h2 {
                    font-weight: 700;
                    font-size: 28px;
                    text-align: center;

                    span {
                        color: var(--primary);
                    }
                }

                p {
                    text-align: center;
                    font-size: 15px;
                }
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3px;

                h3 {
                    font-size: 20px;
                    font-weight: 600;
                }

                p {
                    font-size: 15px;
                    color: hsl(var(--muted-foreground));
                }
            }
        }
    }
}
